/* ChatbotModal.css */
.modal-overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.6);
  display: flex;
  justify-content: center;
  align-items: center;
}

.modal-container {
  position: relative;
  background-color: #fff;
  border-radius: 10px;
  padding: 20px;
  width: 500px;
}

.chat-container {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.chat-image {
  animation: bounce 1s infinite alternate;
}

@keyframes bounce {
  0% {
    transform: translateY(0);
  }
  100% {
    transform: translateY(-10px);
  }
}

.message {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 10px;
  padding: 10px;
}

.message.bot {
  background-color: #f1f1f1;
  /* ask if they want perma */
}

.prompt-buttons {
  display: flex;
  justify-content: center;
  margin-top: 20px;
}

.prompt-buttons button {
  margin: 0 10px;
  background-color: #3F00FF;;
  border: none;
  border-radius: 5px;
  color: #fff;
  font-size: 1rem;
  cursor: pointer;
}

.close-button {
  position: absolute;
  top: 10px;
  right: 10px;
  padding: 5px 10px;
  background-color: #f1f1f1;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

.mood-button {
  padding: 10px 20px;
  background-color: #f1f1f1;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  margin-top: 5%;
  box-shadow: 0px 10px 10px 10px rgba(0,0,0,0.1);
}

.mood-button:hover {
  background-color: #e6e6e6;
}

